<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!json">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level [%thread] %logger - %msg %mdc%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="console"/>
        </root>

    </springProfile>

    <springProfile name="json">

        <!-- Console appender for local debugging -->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <pattern>[ISO_DATE_TIME]</pattern>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <timestamp>
                        <fieldName>epoch</fieldName>
                        <pattern>[UNIX_TIMESTAMP_AS_NUMBER]</pattern>
                    </timestamp>
                    <loglevel/>
                    <message/>
                    <mdc>
                        <mdcKeyFieldName>camel.exchangeId=camel_exchange_id</mdcKeyFieldName>
                        <mdcKeyFieldName>camel.contextId=camel_context_id</mdcKeyFieldName>
                        <mdcKeyFieldName>camel.messageId=camel_message_id</mdcKeyFieldName>
                        <mdcKeyFieldName>kafka.OFFSET=kafka_offset</mdcKeyFieldName>
                        <mdcKeyFieldName>traceId=trace_id</mdcKeyFieldName>
                        <mdcKeyFieldName>spanId=span_id</mdcKeyFieldName>
                        <mdcKeyFieldName>GATEWAY_REQUEST_CORRELATION_ID=gateway_request_correlation_id</mdcKeyFieldName>
                    </mdc>
                    <loggerName/>
                    <threadName/>
                    <stackTrace>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>2048</maxLength>
                            <shortenedClassNameLength>25</shortenedClassNameLength>
                            <exclude>^sun\.reflect\..*\.invoke</exclude>
                            <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
</configuration>
